*{
    margin: 0;
    padding:0;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(155, 126, 84);
}

/* Header Styles */
#HeaderContainer> h1{
    font-size: large;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
#HeaderContainer> small{
    font-size: small;
    font-weight: lighter;
    color: rgb(223, 109, 43);
}
#HeaderContainer{
    margin: 50px;
    padding: 20px;
    box-shadow: 2px 3px rgb(0, 0, 1);
    border-radius: 15px;
    text-align: center;
    background-color: bisque;
}

#formContainer{
    margin: 50px;
    padding: 20px;
    box-shadow: 2px 3px black;
    border-radius: 15px;
    background-color: bisque;
}

#formContainer >#studentForm > .input-field{
    display: flex;
    flex-direction: column;
}

#formContainer > #studentForm > .input-field > label{
    font-weight: 900;

}

#formContainer > #studentForm > .input-field > input{
    font-weight: 900;
    flex-direction: column;
}

#formContainer > #studentForm :nth-last-child(1) > button{
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(143, 94, 30, 0.644);
    margin-top: 10px;
}

#formContainer > #studentForm :nth-last-child(1){
    justify-content: center;
    display: flex;
}

#listContainer{
    margin: 50px;
    padding: 20px;
    box-shadow: 2px 3px black;
    border-radius: 15px;
    background-color: bisque;
    display: flex;
    grid-template-columns: repeat(12, 1fr);
}

#listContainer > .list-item {
    display: grid;
    border-radius: 15px;
    box-shadow: 0 0 0 2px black;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 15px;

}

#listContainer > .list-item >h2{
    font-size: medium;
    font-weight: 500px;

}

#listContainer > .list-item >p{
    font-weight: 500;
    
}

#listContainer > .list-item >button{
    background-color: black;
    color: aliceblue;
    
}
@media (width <= 320px){
    #listContainer > .list-item{
        grid-column: span 12;
    }
}


@media (width > 1000px){
    #listContainer > .list-item{
        grid-column: span 2;
    }
}

@media (width > 320px) and (width < 1000px){
    #listContainer > .list-item{
        grid-column: span 4;
    }
}